a.img-book-first(href="#")
    p.img-book-first__text Change old book on new
    div.img-book-first__arrow &#8594;
a.img-book-second(href="#")
    p.img-book-second__text top 100 books 2022
    div.img-book-second__arrow &#8594;