nav.navigation-sorting
    ul.navigation-sorting__list
        li.navigation-sorting__item
            button.navigation-sorting__btn Architecture
        li.navigation-sorting__item
            button.navigation-sorting__btn Art & Fashion
        li.navigation-sorting__item
            button.navigation-sorting__btn Biography
        li.navigation-sorting__item
            button.navigation-sorting__btn Business
        li.navigation-sorting__item
            button.navigation-sorting__btn Crafts & Hobbies
        li.navigation-sorting__item
            button.navigation-sorting__btn Drama
        li.navigation-sorting__item
            button.navigation-sorting__btn Fiction
        li.navigation-sorting__item
            button.navigation-sorting__btn Food & Drink
        li.navigation-sorting__item
            button.navigation-sorting__btn Health & Wellbeing
        li.navigation-sorting__item
            button.navigation-sorting__btn History & Politics
        li.navigation-sorting__item
            button.navigation-sorting__btn Humor
        li.navigation-sorting__item
            button.navigation-sorting__btn Poetry
        li.navigation-sorting__item
            button.navigation-sorting__btn Psychology
        li.navigation-sorting__item
            button.navigation-sorting__btn Science
        li.navigation-sorting__item
            button.navigation-sorting__btn Technology
        li.navigation-sorting__item
            button.navigation-sorting__btn Travel & Maps